USE [power_bi]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/19/2020 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Region] [varchar](50) NULL,
	[Manager] [varchar](50) NULL
) ON [PRIMARY]
GO
