USE [power_bi]
GO
/****** Object:  Table [dbo].[Returns]    Script Date: 8/19/2020 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Returns](
	[Order ID] [varchar](50) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]
GO
